.threeButtons>button{
     margin-left: 12px;  
  margin-top: 1rem;
}

.mainListItemsTodo {
    margin-top:10px;
    border: solid blue;
    border-radius: 10px;
    min-width: 25vw;
}

.mainListItemsEdit {
    margin-top:10px;
    border: solid blue;
    border-radius: 10px;
    min-width: 45vw;
    padding: 15px
}
.listItems{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
   margin-top:auto;
   margin-bottom: auto;
    padding: 6px;
}
.listItems{
    background: #D0D0D0;
    border-radius: 6px;
    margin-top:5px;
    margin-left: 5px;
    margin-right: 5px;
}
.buttonLine{
  text-decoration: line-through;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.todo {
    display: flex;
}

.truncate {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.sortButtons>button{
    margin-left:5px;
}
.searchInput{
    margin-right:125px;
}